In [5]:
import pandas as pd 
pd.options.display.max_columns = 100

In [6]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
0,2015,1,1,4,WN,1908,N8324A,LAX,SLC,1625,1723.0,58.0,10.0,1733.0,100.0,107.0,94.0,590,2007.0,3.0,1905,2010.0,65.0,0,0,NaN,31.0,0.0,0.0,34.0,0.0
1,2015,1,1,4,UA,581,N448UA,DEN,IAD,823,830.0,7.0,11.0,841.0,190.0,170.0,154.0,1452,1315.0,5.0,1333,1320.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,MQ,2851,N645MQ,DFW,VPS,1305,1341.0,36.0,18.0,1359.0,108.0,107.0,85.0,641,1524.0,4.0,1453,1528.0,35.0,0,0,NaN,0.0,0.0,35.0,0.0,0.0
3,2015,1,1,4,AA,383,N3EUAA,DFW,DCA,1555,1602.0,7.0,13.0,1615.0,160.0,146.0,126.0,1192,1921.0,7.0,1935,1928.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,WN,3047,N560WN,LAX,MCI,1720,1808.0,48.0,6.0,1814.0,185.0,176.0,166.0,1363,2300.0,4.0,2225,2304.0,39.0,0,0,NaN,0.0,0.0,17.0,22.0,0.0

In [4]:
flights.shape

(58492, 31)

# Do some filtering the data and something else for data exploring

In [10]:
flights['origin_airport'].value_counts()

ATL    10413
ORD     8394
DFW     7121
LAX     5889
DEN     5857
PHX     4603
SFO     4402
IAH     4384
LAS     4019
MSP     3410
Name: origin_airport, dtype: int64

In [92]:
filt = flights['origin_airport'] =='IAH'
filt.head()

0    False
1    False
2    False
3    False
4    False
Name: origin_airport, dtype: bool

In [94]:
flights_iah = flights[filt]
flights_iah.head()

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
5,2015,1,1,4,UA,225,N447UA,IAH,SAN,1450,1451.0,1.0,15.0,1506.0,210.0,195.0,178.0,1303,1604.0,2.0,1620,1606.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,UA,1223,N14237,IAH,SJC,925,928.0,3.0,16.0,944.0,251.0,234.0,215.0,1608,1119.0,3.0,1136,1122.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,1,4,UA,259,N838UA,IAH,IND,1426,1425.0,-1.0,9.0,1434.0,136.0,117.0,102.0,844,1716.0,6.0,1742,1722.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,2015,1,1,4,OO,5219,N746SK,IAH,JAC,1104,1103.0,-1.0,26.0,1129.0,192.0,192.0,161.0,1265,1310.0,5.0,1316,1315.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
33,2015,1,1,4,AA,2227,N016AA,IAH,MIA,1935,2001.0,26.0,16.0,2017.0,141.0,136.0,115.0,964,2312.0,5.0,2256,2317.0,21.0,0,0,NaN,0.0,0.0,0.0,21.0,0.0

In [97]:
(flights_iah['destination_airport'] == 'MFE').sum()

64

In [104]:
flights_iah_mfe_mean = (flights_iah['destination_airport'] == 'MFE').mean()
flights_iah_mfe_mean.round(4)

0.0146

In [23]:
# explore the data type 
ftype = flights.dtypes
ftype

year                     int64
month                    int64
day                      int64
day_of_week              int64
airline                 object
flight_number            int64
tail_number             object
origin_airport          object
destination_airport     object
scheduled_departure      int64
departure_time         float64
departure_delay        float64
taxi_out               float64
wheels_off             float64
scheduled_time         float64
elapsed_time           float64
air_time               float64
distance                 int64
wheels_on              float64
taxi_in                float64
scheduled_arrival        int64
arrival_time           float64
arrival_delay          float64
diverted                 int64
cancelled                int64
cancellation_reason     object
air_system_delay       float64
security_delay         float64
airline_delay          float64
late_aircraft_delay    float64
weather_delay          float64
dtype: object

In [26]:
# find the total departure delay for all the flight
departure_delay = flights['departure_delay']
departure_delay.sum()

629705.0

In [28]:
# the average of the delay for all the flight
departure_delay.mean()

10.921191834752598

In [35]:
# compare the total departure delay time between each aire line, sort them from largest to lowest 
airline_delay = flights.groupby('airline').agg({'departure_delay':'sum'})
airline_delay.head()

         departure_delay
airline
AA               98648.0
AS                1389.0
B6                7744.0
DL               76502.0
EV               52028.0

In [110]:
airline_delay

         departure_delay
airline
AA             11.274057
AS              1.808594
B6             14.287823
DL              7.242450
EV              9.092625
F9             14.310398
HA              2.571429
MQ             11.094323
NK             19.514401
OO              9.662279
UA             16.210485
US              4.361355
VX              8.918946
WN             12.639366

In [109]:
# practice how to select with the index loc 
airline_delay.loc['AA', 'departure_delay']

11.274057142857142

In [34]:
airline_delay.sort_values(by='departure_delay', ascending=False).head()

         departure_delay
airline
UA              124918.0
WN              105248.0
AA               98648.0
DL               76502.0
OO               62399.0

In [38]:
# find the average of the delay for each airline
flight_delay_average = flights.groupby('airline').agg({'departure_delay':'mean'})
flight_delay_average.head()

         departure_delay
airline
AA             11.274057
AS              1.808594
B6             14.287823
DL              7.242450
EV              9.092625

In [40]:
flight_delay_average.sort_values(by='departure_delay', ascending=False).head()

         departure_delay
airline
NK             19.514401
UA             16.210485
F9             14.310398
B6             14.287823
WN             12.639366

In [47]:
# to check the type of the object returned by using groupby 
type(flight_delay_average)

pandas.core.frame.DataFrame

In [49]:
# reset the index
flight_delay_average.reset_index()

   airline  departure_delay
0       AA        11.274057
1       AS         1.808594
2       B6        14.287823
3       DL         7.242450
4       EV         9.092625
5       F9        14.310398
6       HA         2.571429
7       MQ        11.094323
8       NK        19.514401
9       OO         9.662279
10      UA        16.210485
11      US         4.361355
12      VX         8.918946
13      WN        12.639366

In [52]:
# the years for the data 
flights['year'].value_counts() # it only returned the year 2015

2015    58492
Name: year, dtype: int64

In [54]:
# percentage of the airline delayed by wheather 
flights.head()

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
0,2015,1,1,4,WN,1908,N8324A,LAX,SLC,1625,1723.0,58.0,10.0,1733.0,100.0,107.0,94.0,590,2007.0,3.0,1905,2010.0,65.0,0,0,NaN,31.0,0.0,0.0,34.0,0.0
1,2015,1,1,4,UA,581,N448UA,DEN,IAD,823,830.0,7.0,11.0,841.0,190.0,170.0,154.0,1452,1315.0,5.0,1333,1320.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,MQ,2851,N645MQ,DFW,VPS,1305,1341.0,36.0,18.0,1359.0,108.0,107.0,85.0,641,1524.0,4.0,1453,1528.0,35.0,0,0,NaN,0.0,0.0,35.0,0.0,0.0
3,2015,1,1,4,AA,383,N3EUAA,DFW,DCA,1555,1602.0,7.0,13.0,1615.0,160.0,146.0,126.0,1192,1921.0,7.0,1935,1928.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,WN,3047,N560WN,LAX,MCI,1720,1808.0,48.0,6.0,1814.0,185.0,176.0,166.0,1363,2300.0,4.0,2225,2304.0,39.0,0,0,NaN,0.0,0.0,17.0,22.0,0.0

In [57]:
flights['weather_delay'].value_counts().head() # exploring the weather_delay column to see what's in this column

0.0     10821
10.0       31
5.0        26
3.0        25
12.0       22
Name: weather_delay, dtype: int64

In [58]:
weather_delay = flights['weather_delay']
weather_delay.head()

0    0.0
1    NaN
2    0.0
3    NaN
4    0.0
Name: weather_delay, dtype: float64

In [73]:
# returned the total number of the flight not affected by weather 
filt = weather_delay == 0.0
weather_delay_no = filt.sum()
weather_delay_no

10821

In [76]:
filt2 = weather_delay > 0.0
weather_delay_yes = filt2.sum()
weather_delay_yes

864

In [77]:
weather_delay_yes/(weather_delay_no + weather_delay_yes)

0.07394094993581515

In [78]:
weather_delay.size

58492

In [81]:
weather_delay.isna().sum()

46807

In [82]:
46807 + 864 + 10821 # to confirm the missing data

58492

In [85]:
# find out the most popular cancellation reason
flights['cancellation_reason'].isna().mean()

0.9849381111946933

In [86]:
flights['cancellation_reason'].value_counts() # Don't know what the B, A , C means

B    478
A    274
C    129
Name: cancellation_reason, dtype: int64

In [90]:
# what month in 2015 is the busiest month 
flight_month = flights['month']
flight_month.value_counts(normalize=True)

7     0.098372
6     0.096971
8     0.096338
5     0.094799
3     0.093774
4     0.091055
9     0.089499
12    0.087721
11    0.087157
1     0.085533
2     0.078780
Name: month, dtype: float64

In [113]:
flights['average_delay'] = flights.groupby('airline')['arrival_delay'].transform('mean')
flights

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay,average_delay
0,2015,1,1,4,WN,1908,N8324A,LAX,SLC,1625,1723.0,58.0,10.0,1733.0,100.0,107.0,94.0,590,2007.0,3.0,1905,2010.0,65.0,0,0,NaN,31.0,0.0,0.0,34.0,0.0,6.397353
1,2015,1,1,4,UA,581,N448UA,DEN,IAD,823,830.0,7.0,11.0,841.0,190.0,170.0,154.0,1452,1315.0,5.0,1333,1320.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.765755
2,2015,1,1,4,MQ,2851,N645MQ,DFW,VPS,1305,1341.0,36.0,18.0,1359.0,108.0,107.0,85.0,641,1524.0,4.0,1453,1528.0,35.0,0,0,NaN,0.0,0.0,35.0,0.0,0.0,6.860591
3,2015,1,1,4,AA,383,N3EUAA,DFW,DCA,1555,1602.0,7.0,13.0,1615.0,160.0,146.0,126.0,1192,1921.0,7.0,1935,1928.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
4,2015,1,1,4,WN,3047,N560WN,LAX,MCI,1720,1808.0,48.0,6.0,1814.0,185.0,176.0,166.0,1363,2300.0,4.0,2225,2304.0,39.0,0,0,NaN,0.0,0.0,17.0,22.0,0.0,6.397353
5,2015,1,1,4,UA,225,N447UA,IAH,SAN,1450,1451.0,1.0,15.0,1506.0,210.0,195.0,178.0,1303,1604.0,2.0,1620,1606.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.765755
6,2015,1,1,4,AA,975,N559AA,DFW,MSY,1250,1414.0,84.0,13.0,1427.0,80.0,79.0,64.0,447,1531.0,2.0,1410,1533.0,83.0,0,0,NaN,0.0,0.0,0.0,83.0,0.0,5.542661
7,2015,1,1,4,F9,1054,N933FR,SFO,PHX,1020,1013.0,-7.0,18.0,1031.0,115.0,116.0,91.0,651,1302.0,7.0,1315,1309.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13.630651
8,2015,1,1,4,AA,1634,N4WNAA,ORD,STL,1845,1840.0,-5.0,15.0,1855.0,65.0,65.0,44.0,258,1939.0,6.0,1950,1945.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
9,2015,1,1,4,UA,1223,N14237,IAH,SJC,925,928.0,3.0,16.0,944.0,251.0,234.0,215.0,1608,1119.0,3.0,1136,1122.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.765755
10,2015,1,1,4,MQ,2765,N900MQ,DFW,DRO,1335,1403.0,28.0,16.0,1419.0,123.0,123.0,104.0,674,1503.0,3.0,1438,1506.0,28.0,0,0,NaN,0.0,0.0,28.0,0.0,0.0,6.860591
11,2015,1,1,4,EV,4589,N13992,ORD,JAN,1155,1201.0,6.0,10.0,1211.0,128.0,127.0,113.0,677,1404.0,4.0,1403,1408.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.034580
12,2015,1,1,4,OO,4990,N106SY,ORD,MSP,1510,1512.0,2.0,20.0,1532.0,96.0,98.0,65.0,334,1637.0,13.0,1646,1650.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
13,2015,1,1,4,EV,5904,N13997,ORD,CMH,1010,1008.0,-2.0,20.0,1028.0,78.0,71.0,46.0,296,1214.0,5.0,1228,1219.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.034580
14,2015,1,1,4,UA,259,N838UA,IAH,IND,1426,1425.0,-1.0,9.0,1434.0,136.0,117.0,102.0,844,1716.0,6.0,1742,1722.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.765755
15,2015,1,1,4,AA,1151,N508AA,DEN,DFW,1445,1439.0,-6.0,24.0,1503.0,120.0,130.0,93.0,641,1736.0,13.0,1745,1749.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
16,2015,1,1,4,OO,5293,N594SW,DEN,SGU,1105,1126.0,21.0,34.0,1200.0,104.0,103.0,66.0,517,1306.0,3.0,1249,1309.0,20.0,0,0,NaN,0.0,0.0,0.0,20.0,0.0,7.593463
17,2015,1,1,4,NK,976,N626NK,DEN,DTW,1952,2029.0,37.0,43.0,2112.0,159.0,176.0,124.0,1123,116.0,9.0,31,125.0,54.0,0,0,NaN,54.0,0.0,0.0,0.0,0.0,18.436070
18,2015,1,1,4,MQ,3642,N696MQ,ORD,DAY,2220,2239.0,19.0,23.0,2302.0,63.0,64.0,37.0,240,39.0,4.0,23,43.0,20.0,0,0,NaN,1.0,0.0,8.0,11.0,0.0,6.860591
19,2015,1,1,4,WN,764,N394SW,PHX,LAX,1640,1731.0,51.0,10.0,1741.0,80.0,88.0,58.0,370,1739.0,20.0,1700,1759.0,59.0,0,0,NaN,8.0,0.0,4.0,47.0,0.0,6.397353
20,2015,1,1,4,WN,621,N762SW,ATL,BWI,1115,1116.0,1.0,15.0,1131.0,110.0,94.0,76.0,577,1247.0,3.0,1305,1250.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.397353
21,2015,1,1,4,UA,1555,N39728,ORD,CLE,2102,2150.0,48.0,18.0,2208.0,78.0,71.0,47.0,315,2355.0,6.0,2320,1.0,41.0,0,0,NaN,0.0,0.0,3.0,38.0,0.0,7.765755
22,2015,1,1,4,OO,4606,N693CA,LAS,LAX,1544,1540.0,-4.0,19.0,1559.0,71.0,63.0,39.0,236,1638.0,5.0,1655,1643.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
23,2015,1,1,4,WN,613,N243WN,ATL,HOU,1555,1625.0,30.0,15.0,1640.0,145.0,133.0,113.0,696,1733.0,5.0,1720,1738.0,18.0,0,0,NaN,0.0,0.0,5.0,13.0,0.0,6.397353
24,2015,1,1,4,MQ,3278,N640MQ,DFW,BTR,730,NaN,NaN,NaN,NaN,83.0,NaN,NaN,383,NaN,NaN,853,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN,6.860591
25,2015,1,1,4,OO,5407,N652BR,ORD,SPI,2110,2106.0,-4.0,28.0,2134.0,55.0,64.0,31.0,174,2205.0,5.0,2205,2210.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
26,2015,1,1,4,AA,1188,N4XXAA,LAX,AUS,1430,1503.0,33.0,20.0,1523.0,175.0,183.0,157.0,1242,2000.0,6.0,1925,2006.0,41.0,0,0,NaN,8.0,0.0,15.0,18.0,0.0,5.542661
27,2015,1,1,4,OO,5219,N746SK,IAH,JAC,1104,1103.0,-1.0,26.0,1129.0,192.0,192.0,161.0,1265,1310.0,5.0,1316,1315.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
28,2015,1,1,4,WN,2351,N7728D,ATL,MDW,935,936.0,1.0,12.0,948.0,120.0,115.0,97.0,591,1025.0,6.0,1035,1031.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.397353
29,2015,1,1,4,EV,5978,N12921,ORD,IND,1025,1019.0,-6.0,15.0,1034.0,63.0,50.0,29.0,177,1203.0,6.0,1228,1209.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.034580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58462,2015,12,31,4,AA,2271,N3CRAA,DFW,PBI,1355,1355.0,0.0,21.0,1416.0,157.0,155.0,130.0,1102,1726.0,4.0,1732,1730.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58463,2015,12,31,4,EV,5790,N13989,ORD,MSN,1220,1238.0,18.0,33.0,1311.0,59.0,68.0,32.0,108,1343.0,3.0,1319,1346.0,27.0,0,0,NaN,9.0,0.0,9.0,9.0,0.0,7.034580
58464,2015,12,31,4,DL,2752,N938AT,LAX,SFO,700,848.0,108.0,25.0,913.0,85.0,82.0,54.0,337,1007.0,3.0,825,1010.0,105.0,0,0,NaN,0.0,0.0,105.0,0.0,0.0,0.339691
58465,2015,12,31,4,AA,1997,N918US,ORD,PHL,1655,1723.0,28.0,13.0,1736.0,122.0,96.0,80.0,678,1956.0,3.0,1957,1959.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58466,2015,12,31,4,AA,465,N901AW,PHX,ORD,820,839.0,19.0,18.0,857.0,210.0,186.0,156.0,1440,1233.0,12.0,1250,1245.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58467,2015,12,31,4,DL,1613,N3743H,ATL,IND,1235,1232.0,-3.0,15.0,1247.0,92.0,82.0,63.0,432,1350.0,4.0,1407,1354.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.339691
58468,2015,12,31,4,MQ,3144,N646MQ,DFW,OKC,1720,1717.0,-3.0,17.0,1734.0,59.0,52.0,31.0,175,1805.0,4.0,1819,1809.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.860591
58469,2015,12,31,4,NK,468,N516NK,LAS,MSY,1950,2154.0,124.0,12.0,2206.0,202.0,179.0,163.0,1500,249.0,4.0,112,253.0,101.0,0,0,NaN,1.0,0.0,4.0,96.0,0.0,18.436070
58470,2015,12,31,4,AA,2533,N567AA,DFW,FAT,1020,1017.0,-3.0,16.0,1033.0,216.0,217.0,196.0,1313,1149.0,5.0,1156,1154.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58471,2015,12,31,4,VX,922,N628VA,SFO,LAX,700,706.0,6.0,17.0,723.0,80.0,77.0,51.0,337,814.0,9.0,820,823.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.348884
58472,2015,12,31,4,WN,3901,N8610A,PHX,HOU,845,850.0,5.0,25.0,915.0,145.0,147.0,119.0,1020,1214.0,3.0,1210,1217.0,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.397353
58473,2015,12,31,4,WN,3510,N7743B,DEN,PDX,1205,1209.0,4.0,23.0,1232.0,175.0,158.0,130.0,991,1342.0,5.0,1400,1347.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.397353
58474,2015,12,31,4,MQ,3182,N609MQ,ORD,FNT,829,833.0,4.0,14.0,847.0,65.0,57.0,40.0,223,1027.0,3.0,1034,1030.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.860591
58475,2015,12,31,4,AA,1967,N172US,IAH,CLT,710,711.0,1.0,13.0,724.0,147.0,134.0,113.0,912,1017.0,8.0,1037,1025.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58476,2015,12,31,4,AA,2457,N4WTAA,DFW,TPA,1020,1017.0,-3.0,12.0,1029.0,140.0,137.0,121.0,929,1330.0,4.0,1340,1334.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58477,2015,12,31,4,B6,1214,N608JB,DFW,BOS,1145,1157.0,12.0,12.0,1209.0,203.0,177.0,161.0,1562,1550.0,4.0,1608,1554.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.692593
58478,2015,12,31,4,VX,932,N638VA,SFO,LAX,1530,1559.0,29.0,13.0,1612.0,80.0,73.0,52.0,337,1704.0,8.0,1650,1712.0,22.0,0,0,NaN,0.0,14.0,0.0,8.0,0.0,5.348884
58479,2015,12,31,4,AA,1330,N3AJAA,DFW,ELP,1200,1203.0,3.0,20.0,1223.0,110.0,120.0,94.0,551,1257.0,6.0,1250,1303.0,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58480,2015,12,31,4,OO,4519,N8903A,MSP,BIS,1310,1308.0,-2.0,24.0,1332.0,99.0,92.0,65.0,386,1437.0,3.0,1449,1440.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
58481,2015,12,31,4,UA,1972,N14231,IAH,LAX,1433,1434.0,1.0,14.0,1448.0,232.0,218.0,197.0,1379,1605.0,7.0,1625,1612.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.765755
58482,2015,12,31,4,OO,6337,N929EV,DEN,CPR,1850,1848.0,-2.0,28.0,1916.0,66.0,69.0,38.0,230,1954.0,3.0,1956,1957.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
58483,2015,12,31,4,B6,602,N625JB,PHX,BOS,2236,2224.0,-12.0,12.0,2236.0,279.0,246.0,231.0,2300,427.0,3.0,515,430.0,-45.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.692593
58484,2015,12,31,4,MQ,3084,N668MQ,ORD,DSM,1333,1334.0,1.0,13.0,1347.0,82.0,74.0,57.0,299,1444.0,4.0,1455,1448.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,6.860591
58485,2015,12,31,4,DL,1640,N841DN,ATL,CMH,2206,2208.0,2.0,14.0,2222.0,92.0,82.0,64.0,447,2326.0,4.0,2338,2330.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.339691
58486,2015,12,31,4,EV,2758,N633AE,DFW,LFT,850,911.0,21.0,19.0,930.0,82.0,75.0,52.0,351,1022.0,4.0,1012,1026.0,14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.034580
58487,2015,12,31,4,AA,1454,N852AA,SFO,DFW,515,520.0,5.0,10.0,530.0,210.0,186.0,166.0,1464,1016.0,10.0,1045,1026.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.542661
58488,2015,12,31,4,F9,1125,N201FR,LAS,SFO,1910,1923.0,13.0,12.0,1935.0,100.0,91.0,71.0,414,2046.0,8.0,2050,2054.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13.630651
58489,2015,12,31,4,OO,5647,N964SW,SFO,SBA,1846,1840.0,-6.0,21.0,1901.0,70.0,71.0,46.0,262,1947.0,4.0,1956,1951.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463
58490,2015,12,31,4,WN,5589,N647SW,MSP,ATL,525,604.0,39.0,13.0,617.0,150.0,145.0,124.0,907,921.0,8.0,855,929.0,34.0,0,0,NaN,0.0,0.0,34.0,0.0,0.0,6.397353
58491,2015,12,31,4,OO,6382,N151SY,SFO,BOI,859,904.0,5.0,24.0,928.0,107.0,101.0,73.0,522,1141.0,4.0,1146,1145.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.593463